<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>641831305390-digcs5s2bhss8sma4uj8td7j4lk9o4kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.641831305390-digcs5s2bhss8sma4uj8td7j4lk9o4kh</string>
	<key>API_KEY</key>
	<string>AIzaSyB1ixVoVGtNjmaEEmBipPcTqFTVw3otJ5k</string>
	<key>GCM_SENDER_ID</key>
	<string>641831305390</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.application1</string>
	<key>PROJECT_ID</key>
	<string>application1-7cb38</string>
	<key>STORAGE_BUCKET</key>
	<string>application1-7cb38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641831305390:ios:b1a76c13022198b88a6d3f</string>
</dict>
</plist>